body{
    backgrund color: #FFFFFF;
color: font-family:Arial, sans-serif;
margin: 0;
}

header{
    backgrund color: #271CA4 ;
    color:rgb(42, 218, 231) ;
    text-align:center;
    /* padding 30px */;
}

h1{
    font-size: 36px;
}

h2{
    color:rgb(52, 195, 214)
}

p{
    font-size: 18px;
    line-height: 1.6;
}
nav{
    margin-top:20px ;
}
nav a {
    color: white;
    text-decoration:none;
    background-color: rgb(89, 167, 235);
    padding: 10px 15px;
    border-radius: 8px;
    margin:5px; 
    display:inline-block;

}
nav a:hover {
    background-color: aquamarine;:
}

main{
    width: 80
    margin: auto;
}
section {
    backgrund-color: rgb(3, 156, 245);
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}
img{
    width: 100;
    display: block;
    margin: auto:
    max-width: 600px;
    border-radius: 12px
}
figcapition{
    text-align: center;
    font-size: 14px;
    color:rgba(112, 184, 233, 0.637);
    margin-top: 8px;
}
card{
 background-color: blue;
 padding: 15px;
 margin: 15px 0;
 border-left: 6px solid #d4afcb;
 border-radius: 10px;

}
card h3{
    margin-top: 0;
}
footer{
    background-color: azure;
    color: aqua;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}